[MASTER]
jobs = 0
extension-pkg-whitelist=numpy,torch
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"

[MESSAGES CONTROL]
disable = too-many-locals,
          too-many-statements,
          too-many-arguments,
          too-many-instance-attributes,
          too-many-branches,
          import-error,
          no-name-in-module

[FORMAT]
max-line-length = 120

[BASIC]
good-names = i,
             j,
             k

[TYPECHECK]
generated-members=numpy.*, torch.*, cv2.*

